.containter {
    background: rgb(246, 248, 250);
}
.wrapper {
    width: 100%;
}
.card {
    background: #fff;
    border-radius: 0.25rem;
    height: 440px;
    position: relative;

    box-shadow: 0 5px 30px -15px rgba(0, 0, 0, 0.2);;
} 

.card h1 {
    font-size: 1.5rem !important;
    font-weight: 500;
    margin: 10px;
    
    position: relative;
}
.card h1::before {
    content: '';
    height: 10px;
    width: 170px;

    position: absolute;
    bottom: 0px; 
    left: 0;
    background-image: linear-gradient(90deg, rgb(209, 213, 218) 50%, rgba(255, 255, 255, 0) 0px);
    background-repeat: repeat-x;
    background-size: 15px 2px;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
}

.error h3 {
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 5px;
}
.error p {
    font-size: 1.2rem;
}
@media only screen and (max-width: 600px) {
    .card:first-child{
        margin-top: -50px !important;
    }

    .card:nth-child(2), .card:nth-child(3) {
        margin-top: 30px !important;
    }
    .card h1 {
        font-size: 1.5rem !important;
        font-weight: 500;
        margin: 20px;
    }
    .card h1::before {
        bottom: -15px; 
        left: 0;
        background-size: 15px 2px;
    }
    .card:nth-child(2) h1::before {
        width: 150px;
    }
    .card:nth-child(3) h1::before {
        width: 200px;
    }

    .pie canvas {
        width: 300px !important;
        height: 300px !important;
        margin: 0 auto;
    }
    
    .pie {
        margin: 0 50px !important;
        height: 400px;
    }
    .pie:nth-child(2) {
        height: 430px;
    }
}
@media only screen and (max-width: 960px) {
    .card:first-child{
        margin-top: -50px !important;
    }

    .card:nth-child(2), .card:nth-child(3) {
        margin-top: 30px !important;
    }

    .card h1 {
        font-size: 1.7rem !important;
        font-weight: 500;
        margin: 25px;
    }
    .card h1::before {
        bottom: -15px; 
        left: 0;
        background-size: 15px 2px;
    }
    .card:nth-child(2) h1::before {
        width: 150px;
    }
    .card:nth-child(3) h1::before {
        width: 200px;
    }

    .pie canvas {
        width: 300px !important;
        height: 300px !important;
        margin: 0 auto;
    }
    
    .pie {
        margin: 0 70px !important;
        height: 430px;
        max-width: 400px !important;
    }
    
    .pie:nth-child(2) {
        height: 430px;
    }
}

@media only screen and (min-width: 960px) {
    .card{
        margin: -50px 15px 0 15px !important;
    }

    .card:nth-child(3){
        margin-top: 50px !important;
    }
    .card h1 {
        font-size: 1.7rem !important;
        margin: 20px;   
    }
    .card h1::before {
        bottom: -15px !important; 
    }

    .pie canvas {
        margin: 0 auto !important;
    }

    .pie:nth-child(2) canvas {
        margin-top: 30px !important;
        width: 280px !important;
        height: 320px !important;
    }
    
}

@media only screen and (min-width: 1280px) {
    .card h1 {
        font-size: 1.6rem !important;
    }
    .pie:nth-child(2) canvas {
        width: 280px !important;
        height: 320px !important;
    }    
    .card:nth-child(3) {
        margin-top: -50px !important;
    }
    .pie:nth-child(1) canvas, .pie:nth-child(3) canvas {
        width: 300px !important;
        height: 300px !important;
    }
} 