* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, system, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(33, 38, 43);
}